{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form method="post">
        <div class="form">
            <div class="form__box">
                <div class="form__left">
                    <div class="form__padding"><img class="form__image" src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png"/></div>
                </div>
                <div class="form__right">
                    <div class="form__padding-right">
                        <form>
                            <h1 class="form__title bigFont">Connexion</h1>
                            <label for="inputUsername" class="bigFont">E-mail :</label>
                            <input type="email"  value="{{ last_username }}" class="form__email bigFont" name="email" id="inputEmail" placeholder="Pseudo" autocomplete="email" required autofocus/>
                            <label for="inputPassword" class="bigFont">Mot de passe</label>
                            <input class="form__password" type="password" placeholder="******" name="password" id="inputPassword" autocomplete="current-password" required />
                        </form><span class="bigFont">Oubli d'<a class="form__link bigFont" href="#">e-mail</a><a>/</a><a class="form__link bigFont" href="#">mot de passe</a></span>
                        <p> <a class="form__link bigFont" href="">Créer son compte</a></p>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <input class="form__submit-btn bigFont" type="submit" value="Se connecter"/>
                </div>
            </div>
        </div>
    </form>

</form>
{% endblock %}
