{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <h1>Enregistrement :</h1>
    <div id="card">
        <div class="register">

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email,{ 'label': 'Email : '}) }}
            <br>
            {{ form_row(registrationForm.plainPassword, { 'label': 'Mot de passe : ' }) }}
            <br>
            {{ form_row(registrationForm.agreeTerms, { 'label': 'Acceptation des CGU : ' }) }}
            <br>
            <div class = "CGUlink">
            <a href="{{ path('app_agree_terms') }}">CGU : cliquez ici</a>
            </div>
            <br>
            <button type="submit" id="submit-button" class="btn">Enregistrement</button>

            {{ form_end(registrationForm) }}

        </div>
    </div>

    <script>
        // Récupération de la case à cocher des CGU et du bouton de soumission
        const cguCheckbox = document.getElementById('registration_form_agreeTerms');
        const submitButton = document.getElementById('submit-button');

        // Désactivation du bouton de soumission par défaut
        submitButton.disabled = true;

        // Écouteur d'événement pour la case des CGU
        cguCheckbox.addEventListener('change', function() {
            // Activation ou désactivation du bouton de soumission en fonction de l'état de la case des CGU
            if (cguCheckbox.checked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        });

    </script>
{% endblock %}
