{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <h1>Enregistrement :</h1>
    <div id="card">
        <div class="register">

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email,{ 'label': 'Email : '}) }}
            <br>
            {{ form_row(registrationForm.plainPassword, { 'label': 'Mot de passe : ' }) }}
            <br>
            {{ form_row(registrationForm.agreeTerms, { 'label': 'Acceptation des CGU : ' }) }}
            <br>
            <div class = "CGUlink">
            <a href="{{ path('app_agree_terms') }}">CGU : cliquez ici</a>
            </div>
            <br>
            <button type="submit" class="btn">Enregistrement</button>

            {{ form_end(registrationForm) }}

        </div>
    </div>
{% endblock %}
