{% extends 'base.html.twig' %}
{% block body %}
    {% set imagePath = '/uploads/images/' ~ post.image %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.description }}</p>
    <img src="{{ imagePath }}" alt="img">
    <section>
        <h3>Espace commentaire</h3>
        <input type="text">
        {% for comment in post.comments %}
            <div class="comment-card {% if comment.type == "BOT"%}{% endif %}">
                <div class="author">{{ comment.user.email }}</div>
                <div class="dateSend">{{ comment.sendDate }}</div>
                <div class="comment-content">{{ comment.content }}</div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
