{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/postForm.css') }}">
    <div id="card">
        {{ form_start(postForm) }}

        {{ form_row(postForm.title,{ 'label': 'Titre : '}) }}
        <br>
{#        {{ form_row(postForm.description,{ 'label': 'Description : '}) }}#}
        {{ form_label(postForm.description, 'Description : ') }}
        {{ form_widget(postForm.description, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
        {{ form_errors(postForm.description) }}
        <br>
        {{ form_row(postForm.plantId,{ 'label': 'Plante : '}) }}
        <br>
        {{ form_row(postForm.image,{ 'label': 'Photo : '}) }}
        <br>
        <div class = "validateButton">
        {{ form_row(postForm.valider) }}
        </div>

        {{ form_end(postForm) }}
        {#  <form action="{{ path('app_new_post') }}" method="post" enctype="multipart/form-data">
            <label for="title">Titre : </label>
            <input type="text" name="title" id="title">
            <br>
            <label for="description">Description : </label>
            <textarea type="text" name="description" id="description"> </textarea>
            <br>
            <label for="plant">Plante : </label>
            <input type="text" name="plant" id="plant">
            <br>
            <input type="text" name="latitude" hidden>
            <input type="text" name="longitude" hidden>
            <label for="image">Photo : </label>
            <input type="file" name="img" id="image" accept=".jpg,.jpeg,.png">
            <br>
            {#<input type="text" placeholder="Plante" id="input_search">
        <div class="results">
            {% for plant in plants %}
                <a class="option">{{plant.label}}</a>
            {% endfor %}
        </div>
            <button type="submit">Envoyer</button>
        </form>#}
    </div>
    <script>
        window.navigator.geolocation.getCurrentPosition(function (position) {
            document.querySelector('input[name="latitude"]').value = position.coords.latitude;
            document.querySelector('input[name="longitude"]').value = position.coords.longitude;
        });
    </script>
{% endblock %}
{% block js %}

{% endblock %}