{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <h3>Liste demandes</h3>
{{ include('post/form.html.twig') }}
    {% for userPost in posts %}
        {% set imagePath = '/uploads/images/' ~ userPost.image %}
        <a href="{{ path('app_post_detail', {id : userPost.id }) }}">
        <div id="card">
            <h3>{{ userPost.title}}</h3>
            <p>{{ userPost.description }}</p>
            <p>{{ app.user.email }}</p>
            <div class="image">
                <img src="{{ imagePath }}" alt="" id="img_card">
            </div>
        </div></a>
    {% endfor %}
{% endblock %}
