{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <h2 style="text-align: center">Liste demandes :</h2>
    <div class="container-cards">
        {% for post in posts %}
            {% set imagePath = '/uploads/images/' ~ post.image %}
            <a href="{{ path('app_post_detail', {id : post.id }) }}" id="card">
                    <div class="card-content">
                        <h3>{{ post.title|capitalize }}</h3>
                        <p>{{ post.description }}</p>
                        <p>Posté par : {{ post.userPost.email }}</p>
                    </div>
                    <div class="image">
                        <img src="{{ imagePath }}" alt="" id="img_card">
                    </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
